<!--dash.component.html-->
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="{{ ( cardLayout$ | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
    <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]" [colspan]="( cardLayout$ | async )?.miniCard?.cols"
      [rowspan]="( cardLayout$ | async )?.miniCard?.rows">
      <!-- <app-card title="Card"><div>Mini Card Content Here</div></app-card> -->
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Today Active User</mat-card-title>
          <mat-card-subtitle>Today: {{todayDate|date:'dd-MMM-yyyy'}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
   <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout$ | async )?.chart?.cols" [rowspan]="( cardLayout$ | async )?.chart?.rows">
      <app-card title="Monthly Revenue" [content]="placeholder">
          <h1>Monthly Revenue</h1>>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout$ | async )?.chart?.cols" [rowspan]="( cardLayout$ | async )?.chart?.rows">
      <app-card title="Product Sales" [content]="placeholderDonut">
        <h1>Product Sales</h1>>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout$ | async )?.chart?.cols" [rowspan]="( cardLayout$ | async )?.chart?.rows">
      <app-card title="Sales by Traffic Source" [content]="placeholderByTrafficSource">
         <h1>Sales by traffic source</h1>>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout$ | async )?.chart?.cols" [rowspan]="( cardLayout$ | async )?.chart?.rows">
      <app-card title="Online Store Sessions by Traffic Source" [content]="placeHoldertraffic">
          <h1>Sales by traffic source</h1>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout$ | async )?.table?.cols" [rowspan]="( cardLayout$ | async )?.table?.rows">
      <app-card title="Card 9"><div>Table Content Here</div></app-card>
    </mat-grid-tile>
  </mat-grid-list>
 </div>

 Deployed @00:24 14th May Friday Using CI&CD